%aside.col-md-4.blog-sidebar
  .p-3.mb-3.bg-light.rounded
    %h4.font-italic About
    %p.mb-0
      I am a C# developer that is now specializing towards Rails development.
      %br
      %em #StriveForExcellence
  .p-3
    %h4 Topics
    - @site_bar_topics.each do |topic|
      %p= link_to topic.title, topic_path(topic)
  .p-3
    %h4.font-italic Elsewhere
    %ol.list-unstyled.social-links
      %li
        %a{href: "#"}= fa_icon "github"
      %li
        %a{href: "#"}= fa_icon "instagram"
      %li
        %a{href: "#"}= fa_icon "twitter"
      %li
        %a{href: "#"}= fa_icon "facebook"