%div{class: location }
  %div= link_to "Home", root_path
  %div= link_to "About", about_me_path 
  %div= link_to "Contact", contact_path
  %div= link_to "Blogs", blogs_path
  %div= link_to "Portfolios", portfolios_path