!!!
%html
  %head
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= @page_title
    = csrf_meta_tags

    %meta{name: "keywords", content: @seo_keywords }

    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .cover-container.d-flex.w-100.h-100.p-3.mx-auto.flex-column
      .background
      = render "shared/application_nav"
      = yield
      = render "shared/application_footer"
      = alerts
      = source_helper "application"
