!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= @page_title
    = csrf_meta_tags

    %meta{name: "keywords", content: @seo_keywords }

    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %p.notice= notice
    %p.alert= alert
    = render "shared/nav", location: 'top'
    = login_helper
    = yield
    - if session[:source]
      %p Thanks for visiting me from #{ session[:source] }
