!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title= @page_title
    = csrf_meta_tags

    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1, shrink-to-fit=no"}
    %meta{name: "keywords", content: @seo_keywords}

    = csp_meta_tag
    = stylesheet_link_tag    'blogs', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render "shared/blog_nav"
    %header.blog-header
      .container
        %h1 Pipala's Blog
        = link_to 'Write a new blog post', new_blog_path if logged_in?(:site_admin)
    %main.container{role: "main"}
      .row
        .col-md-8.blog-main
          = yield
        %aside.col-md-4.blog-sidebar
          .p-3.mb-3.bg-light.rounded
            %h4.font-italic About
            %p.mb-0
              Etiam porta
              %em sem malesuada magna
              mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.
          .p-3
            %h4.font-italic Archives
            %ol.list-unstyled.mb-0
              %li
                %a{href: "#"} March 2014
              %li
                %a{href: "#"} February 2014
              %li
                %a{href: "#"} January 2014
              %li
                %a{href: "#"} December 2013
              %li
                %a{href: "#"} November 2013
              %li
                %a{href: "#"} October 2013
              %li
                %a{href: "#"} September 2013
              %li
                %a{href: "#"} August 2013
              %li
                %a{href: "#"} July 2013
              %li
                %a{href: "#"} June 2013
              %li
                %a{href: "#"} May 2013
              %li
                %a{href: "#"} April 2013
          .p-3
            %h4.font-italic Elsewhere
            %ol.list-unstyled
              %li
                %a{href: "#"} GitHub
              %li
                %a{href: "#"} Twitter
              %li
                %a{href: "#"} Facebook
      %footer.blog-footer
        %p
          Blog template built for
          %a{href: "https://getbootstrap.com/"} Bootstrap
          by
          = succeed "." do
            %a{href: "https://twitter.com/mdo"} @mdo
        %p
          %a{href: "#"} Back to top 
      = source_helper "blog"
